<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>index</title>
    <link rel="stylesheet" href="../static/css/index.css">
</head>
<body>
    <div id="mobile-warning">请在电脑端打开本页面！</div>
    <div class="header">
        <img src="../static/image/nav1.png" alt="" >
        <a href="index.html">
            <img src="../static/image/logo.png" alt="" class="logo">
        </a>
        <ul>
            <li><a href="index.html">Home</a></li>
            <li><a href="subpage.html">Subpage</a></li>
            <li><a href="#">Other</a></li>
            <li><a href="#">Other</a></li>
            <li><a href="#">Other</a></li>
            <li><a href="#">Other</a></li>
            <li><a href="#">Other</a></li>
            <li><a href="#">Other</a></li>
            <li><a href="#">Other</a></li>
            <li><a href="#">Other</a></li>
        </ul>
    </div>
    <div class="banner">
        <div class="text">
            <h2>Our aim is to make parents</h2>
            <span>ASSURED</span>
            <div class="word">Affordable</div>
            <script src="../static/js/word.js"></script>
        </div>
        <div class="mother-baby-h">
            <img src="../static/image/mother-baby-h.png" alt="">
        </div>
        <div class="gif1">
            <img src="../static/image/1.gif" alt="">
        </div>
    </div>
    <div class="figure clearfix">
        <h2>Number of PKU Patients</h2>
        <div class="block1 clearfix">
            <p>In The World</p>
            <img src="../static/image/world.png" alt="">
            <h3>328330</h3>
        </div>
        <div class="block2 clearfix">
            <p>In Egypt</p>
            <img src="../static/image/pyramids.png" alt="">
            <h3>20010</h3>
        </div>
    </div>
    <div class="footer">
        <img src="../static/image/logo.png" alt="">
        <div class="content">
            <p class="clearfix">© 2022 - Content on this site is licensed under a Creative Commons Attribution 4.0 International license.<br>The repository used to create this website is available at gitlab.igem.org/2022/afcm-egypt.</p>
            <ul>
                <li>Home</li>
                <li>Project</li>
                <li>Lab</li>
                <li>Safety</li>
                <li>Team</li>
                <li>Software</li>
                <li>Parts</li>
            </ul>
        </div>
    </div>
</body>
</html>