<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Description|Project</title>
    <link rel="stylesheet" href="../static/css/description.css">
    <link rel="stylesheet" href="../static/font/font.css">
    <link rel="stylesheet" href="../static/css/loading.css">
</head>
<body>
    <script src="../static/js/loading.js"></script>
    <div id="loading">
        <div id="loading_bg">
            <div class="loader">Loading...</div>
        </div>
    </div>
    <script src="../static/js/fontsize.js"></script>
    <div id="scrollToTopBtn">
        <img src="../static/image/button.png" alt="">
    </div>
    <script src="../static/js/button.js"></script>
    <div class="header">
        <img src="../static/image/head.png" alt="" class="head">
        <ul>
            <li><a href="/templates/index.html"><img src="../static/image/logos/1.png" alt=""><p>HOME</p></a></li>
            <li><a href="#"><img src="../static/image/logos/2.png" alt=""><p>TEAM</p></a></li>
            <li><a href="#"><img src="../static/image/logos/3.png" alt=""><p>DRY LAB</p></a></li>
            <li><a href="#"><img src="../static/image/logos/4.png" alt=""><p>WET LAB</p></a></li>
            <li><a href="/templates/description.html"><img src="../static/image/logos/5.png" alt=""><p>PROJECT</p></a></li>
            <li><a href="/templates/function.html"><img src="../static/image/logos/6.png" alt=""><p>AWARDS</p></a></li>
        </ul>
    </div>
    <div class="banner"></div>
    <div class="main">
        <nav class="navbar">
            <ul>
            <li><a href="#Background">Background</a></li>
            <li><a href="#Principle">Principle</a></li>
            <li><a href="#Design">Design</a></li>
            <li><a href="#Human Practice">Human Practice</a></li>
            </ul>
        </nav>
        <div class="content">
            <div class="about">
                <h2 id="Background">Background</h2>
                <p>Between 300 and 400 million mobile phones sit idle in China every year, and the amount of e-waste is expected to increase at least fourfold by 2030. At present, the global e-waste recycling rate is about 17.4%, and China's recycling rate is about 10%, and the recycling method is extensive, often leading to serious environmental pollution.</p>
                <p>The copper content per ton of electronic waste is 40 times that of copper, the gold content is 17 times that of gold, 1t circuit board can be separated to 128.7kg copper, 29.6kg tin, 0.9kg gold and 270kg plastic.</p>
                <p>The traditional chemical recovery method will produce a lot of waste liquid and discharge toxic gas, if not properly treated, it will do great harm to the environment.</p>
                <h2 id="Principle">Principle</h2>
                <p>For the leaching of precious metals, we choose the cyanide leaching method. Cyanide leaching method is a method of extracting gold and silver precious metals from mineral raw materials or electronic waste containing gold and silver by using cyanide solution as leaching agent and by complexing metal ions with hydrogen cyanide.</p>
                <p>Chromobacterium violaceum ATCC 12472 is a gram-negative, facultative anaerobic and spillless bacillus that is widely distributed in the natural environment, living in tropical and subtropical waters and soils, and has the ability to produce and degrade hydrogen cyanide (HCN). Bacillus purplicans itself contains the gene cluster hcnABC, which encodes a multicomponent enzyme complex, HCN synthase, that converts glycine into hydrogen cyanide. At the same time, Bacillus purpurea contains cyanide hydrolase, cyanide oxidase, etc., which can convert HCN into harmless compounds such as formic acid and ammonia.</p>
                <h2 id="Design">Design</h2>
                <p>Two light-blocking bioreactors were designed using purple Bacillus as chassis organism.</p>
                <p>In the first bioreactor, the ability of purple Bacillus to produce HCN was enhanced, and gold and silver in electronic waste were converted into easily soluble gold and silver cyanide by the way of hydrogen cyanide complexing metal ions.</p>
                <p>In the second bioreactor, the ability of purple Bacillus to degrade HCN was enhanced, and gold and silver ions were reduced to metal nanoparticles by NiFe hydrogenase, while cyanide which was harmful to the environment was degraded by HCN degrading enzyme, which realized effective recovery of precious metals gold and silver and effective treatment of toxic hydrides.</p>
                <img src="../static/image/design.png" alt="">
                <h2 id="Human Practice">Human Practice</h2>
                <p>We plan to conduct interviews and surveys with experts, scholars, stakeholders and government departments to further refine the project design.</p>
                <table>
                    <tr class="row-1">
                      <td>Cell 1</td>
                      <td>Cell 2</td>
                      <td>Cell 3</td>
                    </tr>
                    <tr class="row-2-3">
                      <td rowspan="2"><img src="../static/image/dirt.png" alt="Image"></td>
                      <td>Cell 4</td>
                      <td>Cell 5</td>
                    </tr>
                    <tr class="row-2-3">
                      <td>Cell 6</td>
                      <td>Cell 7</td>
                    </tr>
                    <tr class="row-1">
                      <td>Cell 8</td>
                      <td>Cell 9</td>
                      <td>Cell 10</td>
                    </tr>
                  </table>
            </div>
        </div>
    </div>
    <div class="footer">
        <img src="../static/image/footer.png" alt="" class="foot">
        <div class="location">
            <p>Xiamen</p>
            <p>University</p>
            <br>
            <p>Xiamen University.</p>
            <p>Fujian. China</p>
            <br>
            <p>No.422.Siming South Road.</p>
            <p>fujian.P.R.China.361005</p>
        </div>
        <div class="contact">
            <p class="p1">contact us</p>
            <p>igem_xmu@163.com</p>
        </div>
        <a href="#" class="ins">
            <img src="../static/image/logos( footer/ins.png" alt="">
        </a>
        <a href="#" class="wechat">
            <img src="../static/image/logos( footer/微信.png" alt="">
        </a>
        <a href="#" class="weibo">
            <img src="../static/image/logos( footer/微博.png" alt="">
        </a>
        <a href="#" class="twitter">
            <img src="../static/image/logos( footer/推特.png" alt="">
        </a>
        <a href="#" class="facebook">
            <img src="../static/image/logos( footer/脸书.png" alt="">
        </a>
    </div>
</body>
</html>