<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>index</title>
    <link rel="stylesheet" href="../static/index.css">
</head>
<body>
    <script src="../static/fontsize.js"></script>
    <div id="mobile-warning">请在电脑端打开本页面！</div>
    <div class="header">
        <img src="../static/image/head.png" alt="" class="head">
        <ul>
            <li><a href="#"><img src="../static/image/logos/1.png" alt=""></a></li>
            <li><a href="#"><img src="../static/image/logos/2.png" alt=""></a></li>
            <li><a href="#"><img src="../static/image/logos/3.png" alt=""></a></li>
            <li><a href="#"><img src="../static/image/logos/4.png" alt=""></a></li>
            <li><a href="#"><img src="../static/image/logos/5.png" alt=""></a></li>
            <li><a href="#"><img src="../static/image/logos/6.png" alt=""></a></li>
        </ul>
    </div>
    <div class="banner"></div>
    <div class="content">
        <div class="word">
            <p>Biometallurgical technology, also known as bioleaching technology, usually refers to the bacterial oxidation or biological oxidation of ore, which is carried out by microorganisms present in nature. These microorganisms, known as thermobacteria and are about 0.5-2.0 microns long and 0.5 microns wide, can only be seen under a microscope, survive on inorganic matter, and are harmless to life. These bacteria feed on pyrite, arsenic, pyrite, and other metal sulfides such as chalcopyrite and copper-uraniummica. 
            Thermosophilia and other bacteria often live in acidic environments created by the oxidation of sulfur, such as hot springs, areas near volcanoes, and areas rich in sulfur.</p>
            <br>
            <p>Conventional metallurgical technology in the process of low-grade mineral processing, the cost is relatively high, the pollution is very large, the use of biometallurgical technology, generally speaking, is to use bacteria-containing bacterial liquid for soaking, most of these microorganisms are some chemoautotrophic bacteria, they feed on ores, obtain energy through oxidation, these ores due to oxidation, from insoluble in water to soluble, people can extract minerals from the solution.</p>
            <br>
            <p>In nature, microorganisms play an important role in the cycle of many elements, and the migration of many minerals and the formation of mineral deposits on the earth are related to the activities of microorganisms. Biohydrometallurgy is a promising new process that does not produce sulfur dioxide, has low investment, low energy consumption, and low reagent consumption, and can economically process low-grade, difficult-to-treat ores. This method is still a work in progress, and it must also overcome some of its limitations, such as slow reaction speed, poor adaptability of bacteria to the environment, difficulty in surviving beyond a certain temperature range, inability to withstand stirring, and so on. For this reason, some scientists have suggested that work should be carried out from the aspect of genetic engineering, through which strains with excellent performance should be obtained.</p>
            <br>
            <p>Biological hydrometallurgy is one of the most active disciplines in the metallurgical field for the past two decades. Compared with the traditional oxidation process, the biological oxidation process has low cost, no pollution, and has broad industrial application prospects for the effective development and utilization of low-grade and refractory sulfide mineral resources. It is believed that in the near future, biohydrometallurgy will be more widely used.</p>
            <br>
        </div>
    </div>
    <div class="footer">
        <img src="../static/image/footer.png" alt="" class="foot">
        <div class="location">
            <p>Xiamen</p>
            <p>University</p>
            <br>
            <p>Xiamen University.</p>
            <p>Fujian. China</p>
            <br>
            <p>No.422.Siming South Road.</p>
            <p>fujian.P.R.China.361005</p>
        </div>
        <div class="contact">
            <p class="p1">contact us</p>
            <p>igem_xmu@163.com</p>
        </div>
        <a href="#" class="ins">
            <img src="../static/image/logos( footer/ins.png" alt="">
        </a>
        <a href="#" class="wechat">
            <img src="../static/image/logos( footer/微信.png" alt="">
        </a>
        <a href="#" class="weibo">
            <img src="../static/image/logos( footer/微博.png" alt="">
        </a>
        <a href="#" class="twitter">
            <img src="../static/image/logos( footer/推特.png" alt="">
        </a>
        <a href="#" class="facebook">
            <img src="../static/image/logos( footer/脸书.png" alt="">
        </a>
    </div>
    
</body>
</html>
